.red{
    background-color: red;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
}
.yellow{
    background-color: yellow;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
}
.green{
    background-color: green;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
}
.iluminado{
    box-shadow: 0px 0px 10px 10px rgb(226, 233, 168);
}
.semaforo{
    justify-content: center;
    display: flex;
}